
body{
	
  
  display: flex;
  justify-content: center;

	margin:0;
	top:0;
	background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(14,173,184,1) 77%, rgba(2,237,242,1) 100%);
    

}
.header{
  display: flex;
  justify-content: space-between;
}
.heading{
	
	font-family: 'Rubik Mono One', cursive;
	color:#ffffff;
	text-align: center;
	
	font-size: 48px;
}
.detail{
  font-family: 'Open Sans Condensed', sans-serif;
  color:white;
  margin-top:28px;
  font-size: 47px;
}
.quote{
	color:#f2f2f2;
	
	text-align: center;
	font-size: 23px;
	font-style: italic;
}
.card{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: block;
  max-width: 62%;
  justify-content: center;
  align-items: center;

  position: absolute;
  margin-right:  auto;
  margin-left: auto;
  height:400px;
  align-self:   auto; 
  
  
}
.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}
.card .inner-part{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px,25px;
  height: 360px;

}
.inner-part .image{
  height:350px;
  width:350px;
  overflow: hidden;
  flex-shrink:0;

}
.content{
	padding: 5px;
	color:#f2f2f2;
	text-align: left;
	width:1400px;
	max-width: 100%;
  margin-left: 2%;
	float:left;
	font-family: 'Open Sans Condensed', sans-serif;
	position: relative;
	
}
.image img{
  height: 100%;
  width:100%;
  object-fit: cover;
 
  cursor: pointer;
}
/*.button{
  
  padding: 10px 19px;
  border:none;
  width:430px;
  font-size:16px;
  border-radius: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  cursor: pointer;
  margin-top:230px;
  
 
  


*/
.button{
  cursor: pointer;
  width: 300px;
  border-radius: 25px;
  outline: none;
  border:none;
  padding: 10px;
   font-family: 'Open Sans Condensed', sans-serif; 
   font-size:20px;

}
a{
  font-size: 30px;
  margin-top:5px;
  color: white;
}
a:hover{
  color: rgb(6, 8, 69);
}



@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


div#slider { overflow: hidden; }
div#slider figure img { width:20%;  float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}






.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}



